- if alert
  .alert.alert-danger.fade.in
    %button.close{ 'data-dismiss' => 'alert' } x
    = alert

- if notice
  .alert.alert-info.fade.in
    %button.close{ 'data-dismiss' => 'alert' } x
    = notice
