.clearfix

#footer2
  .container
    .row
      .col-md-12
        .copyright
          Company
          &copy;
          2014 - All rights reserved

      %a{ :href => '#' }
        %i.go-top.fa.fa-angle-double-up

= javascript_include_tag 'application', 'data-turbolinks-track' => true
